progress {
  background-color: #e2e2e2;
  color: #ccc;
  height: 0.75rem;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &::-ms-fill {
    background-color: currentColor;
    transition: all 0.2s;
  }

  &:indeterminate {
    animation: abw-progress 2.5s infinite linear;
    background-image: linear-gradient(to right, currentColor 30%, transparent 30%);
    background-size: 200% 100%;

    &::-webkit-progress-value {
      background-color: transparent;
    }

    &::-moz-progress-bar {
      background-color: transparent;
    }
  }
}

@keyframes abw-progress {
  from {
    background-position: 200% 0;
  }

  to {
    background-position: -200% 0;
  }
}
