cxl-mobilenav {
  nav {
    margin-top: 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: #f8f8f8;
          font-size: 20px;
          padding: 14px 20px;
          display: block;
          width: auto;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        &.has-children {
          position: relative;

          &.active > a {
            font-weight: 900;
          }

          &.active {
            ul.menu__sub-menu {
              height: auto;
              display: block;
            }
          }
        }

        &.has-children > a::after {
          left: 0.5em;
          top: 0.6em;
          transform: rotate(45deg);
        }

        ul.menu__sub-menu {
          padding-left: 10px;
          height: 0;
          display: none;
          transition: all 1s ease;

          li {
            a {
              font-size: 16px;
              padding: 14px 20px;
            }
          }
        }
      }

      &[theme~="center"] {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;

        li a {
          font-size: 16px;
        }

        vaadin-button[theme~="transparent"] {
          border-color: #ffffff;
          color: #ffffff !important;
          width: 100%;
        }
      }
    }

    @media (hover: hover) {
      ul li a:hover {
        color: var(--lumo-primary-color);
      }
    }
  }
}

.mobile-links {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.mobile-links li a {
  color: #f8f8f8;
  font-size: 20px;
  padding: 14px 20px;
  display: block;
  width: auto;
  text-decoration: none;
}

.mobile-links li a:hover {
  text-decoration: none;
}

@media (hover: hover) {
  .mobile-links li a:hover {
    color: var(--lumo-primary-color);
  }
}

.mobile-links li.dropdown-link.active > a {
  font-weight: 900;
}

.mobile-links li.dropdown-link {
  position: relative;
}

.mobile-links li.dropdown-link > a::after {
  left: 0.5em;
  top: 0.6em;
  transform: rotate(45deg);
}

.mobile-links .dropdown {
  padding-left: 10px;
  height: 0;
  display: none;
  transition: all 1s ease;
}

.mobile-links .dropdown li a {
  font-size: 16px;
  padding: 14px 20px;
}

.mobile-links li.dropdown-link.active .dropdown {
  height: auto;
  display: block;
}

.mobile-links li.dropdown-link.active > a::after {
  left: 0.5em;
  top: 0.5em;
  transform: rotate(135deg);
}

.mobile-links[theme~="center"] {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-links[theme~="center"] li a {
  font-size: 16px;
}

.mobile-links[theme~="center"] vaadin-button[theme~="transparent"] {
  border-color: #ffffff;
  color: #ffffff !important;
  width: 100%;
}

[part="mobile-nav"] {
  display: none;
}
