#videoslider {
  display: block;
  position: relative;
  height: 630px;
  overflow: hidden;
  z-index: 0;

  iron-pages {
    iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    .slide-content {
      position: relative;
      z-index: 4;
      display: block;
      margin: 0 auto;
      max-width: 1600px;
      padding-left: 25px;

      h4 {
        font-weight: 500;
        line-height: 36px;
        font-size: 28px;
        color: #1a1a1a;
        max-width: 750px;
      }

      a.watch {
        font-weight: 500;
        line-height: 36px;
        font-size: 28px;
        color: #ca0000;
        cursor: pointer;

        &::after {
          content: url(/images/icons/button-arrow.svg);
          border: 5px solid #ca0000;
          border-radius: 50%;
          width: 21px;
          height: 32px;
          display: inline-block;
          position: relative;
          top: 2px;
          background-position: initial;
          background-repeat: no-repeat;
          left: 15px;
          padding-left: 13px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
