:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-m);
  line-height: var(--lumo-line-height-xs);
  padding: 1em;
  min-height: var(--lumo-size-m);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.0437896);
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
}
/* Selectable items have a checkmark icon */
:host([tabindex])::before {
  display: var(--_lumo-item-selected-icon-display, none);
  content: var(--lumo-icons-checkmark);
  font-family: lumo-icons;
  font-size: var(--lumo-icon-size-m);
  line-height: 1;
  font-weight: normal;
  width: 1em;
  height: 1em;
  margin: calc((1 - var(--lumo-line-height-xs)) * var(--lumo-font-size-m) / 2) 0;
  color: var(--lumo-primary-text-color);
  flex: none;
  opacity: 0;
  transition: transform 0.2s cubic-bezier(0.12, 0.32, 0.54, 2), opacity 0.1s;
}
:host([selected])::before {
  opacity: 1;
}
:host([active]:not([selected]))::before {
  transform: scale(0.8);
  opacity: 0;
  transition-duration: 0s;
}
/* Disabled item */
:host([disabled]) {
  color: var(--lumo-disabled-text-color);
  cursor: default;
  pointer-events: none;
}
/* Slotted icons */
:host ::slotted(iron-icon) {
  width: var(--lumo-icon-size-m);
  height: var(--lumo-icon-size-m);
}
/* Custom */
:host {
  background-color: #000000;
  box-shadow: var(--lumo-box-shadow-s);
  border-radius: 5px;
  height: 350px;
  width: 250px;
}
:host([selected]) {
  box-shadow: 0px 0px 0px 1px var(--lumo-primary-color);
}

[part="content"] {
  display: grid;
  grid-template-columns: auto;
  //grid-template-rows: 5em 1.5em 3em 9.5em auto;
  grid-template-rows: auto;
  grid-template-areas: "banner-image" "banner-title" "banner-description" "banner-link";
  height: 100%;
  width: 100%;

  .banner-image {
    grid-area: banner-image;
    height: 100px;
    margin: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  .banner-title {
    color: #ffffff;
    font-weight: bold;
    grid-area: banner-title;
    margin: 0;
  }

  .banner-description {
    color: #ffffff;
    grid-area: banner-description;
  }

  .banner-link {
    align-self: end;
    color: #ffffff;
    font-size: var(--lumo-font-size-xs);
    grid-area: banner-link;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

:host(:hover) {
  border-color: #c53b26;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px #fff3f1;
}
