.menu {
  &--marketing-header,
  &__items {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;

    a {
      color: var(--lumo-shade-90pct);
      display: block;
      font-size: var(--lumo-font-size-m);
      font-weight: 500;
      padding: 5px 20px;

      &:hover {
        color: var(--lumo-primary-color);
        text-decoration: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.has-children:hover {
      ul {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__link {
    display: none;
  }

  &__sub-menu {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 8px 8px rgba(26, 26, 26, 0.1);
    display: none;
    left: -10px;
    list-style: none;
    margin: 0;
    min-width: 130px;
    opacity: 0;
    padding: 0;
    padding: 10px;
    padding-top: 0;
    position: absolute;
    transition: all 0.5s ease;
    visibility: hidden;

    li {
      clear: both;
      margin: 0;
      position: relative;
      width: 100%;

      a {
        display: block;
        padding: 8px;
      }
    }
  }
}

@include respond-below(medium) {
  .menu {
    display: none;
  }
}

@include respond-between(medium, large) {
  [part="topnav"] {
    background-color: #fff;

    .menu {
      margin-left: auto;

      li a {
        padding-left: 18px;
        padding-right: 18px;
      }
    }
  }
}
