@import "./utils/mixins";

:host {
  border-bottom: 1px solid rgb(238, 238, 238);
  display: grid;
  grid-template-areas: "toggle title";
  grid-template-columns: 40px auto;
  padding: var(--lumo-space-m);

  @include respond-below(small) {
    display: none;
  }
}

.content-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  grid-area: toggle;
  margin-right: var(--lumo-space-xs);
  min-height: 0;
  min-width: 0;

  a {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    &:hover {
      fill: var(--lumo-primary-text-color);
    }
  }
}

.header-title {
  display: flex;
  flex-direction: column;
  grid-area: title;
  justify-content: center;
  h3 {
    font-weight: 500;
    margin: 0;
  }
}

.header-button {
  display: none; // add with-button to cxl-content-header to display button
  grid-area: button;
  text-align: right;

  ::slotted([slot="header-button"]) {
    margin: 0;
  }
}

:host([with-button]) {
  grid-template-areas: "toggle title button";
  grid-template-columns: 40px auto auto;

  .header-button {
    display: block;
  }
}
