@import "./utils/mq";

:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

[part="topnav"],
[part="bottomnav"] {
  background: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;

  @include mq($from: tablet, $until: desktop) {
    background-color: var(--lumo-base-color);
    box-shadow: 0 5px 9px var(--lumo-shade-10pct);
  }
}

[part="bottomnav"] {
  background-color: var(--lumo-shade);
  bottom: 0;
  box-shadow: 0 -1px 5px 0 var(--lumo-shade-5pct);
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;

  .wrap {
    padding: 0;
  }

  &.fixed {
    background-color: var(--lumo-base-color);
    bottom: initial;
    position: fixed;
    top: 0;
  }

  @include mq($from: tablet) {
    background-color: var(--lumo-tint-50pct);
  }
}

:host([waves]) {
  @include mq($from: tablet) {
    [part="bottomnav"] {
      background-color: transparent; // stylelint-disable sh-waqar/declaration-use-variable
      box-shadow: none;
      position: relative;
    }
  }
}
