.color {
  &\:primary {
    color: var(--lumo-primary-color);
  }
  &\:font {
    color: var(--lumo-body-text-color);
  }
}

.sub-title {
  text-align: center;
  margin-top: 20px;
}

.flex {
  display: flex;
}

.hide {
  visibility: hidden !important;
}

.text-primary {
  color: var(--lumo-primary-text-color);
}

.text-center {
  text-align: center;
}

.vertical-line {
  height: 1px;
  background: #eee;
}

.wrap {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.no-padding {
  padding: 0;
}

.empty-padding {
  &--large-top {
    padding-top: 150px;
  }
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1088px) {
  .wrap {
    max-width: 960px;
    width: 960px;
  }
  .wrap.is-fluid {
    margin-left: 64px;
    margin-right: 64px;
    max-width: none;
    width: auto;
  }
}

@media screen and (max-width: 1279px) {
  .wrap.is-widescreen {
    max-width: 1152px;
    width: auto;
  }
}

@media screen and (max-width: 1471px) {
  .wrap.is-fullhd {
    max-width: 1344px;
    width: auto;
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .wrap {
    max-width: 1344px;
    width: 1344px;
  }
}

// @import './lumo-colors.scss';
// @import './lumo-typography.scss';
