html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  background: #ffffff;
  pointer-events: all !important;

  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size, var(--lumo-font-size-m));
  line-height: var(--lumo-line-height-m);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.screen-reader-text {
  display: none;
}

article {
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.618;
    font-size: 1.125rem;
    font-family: var(--lumo-font-secondary);
    li {
      margin: 0.33325em 0;
      padding-left: 1.5rem;
      position: relative;
      vertical-align: middle;
      &::before {
        color: #c70000;
        font-weight: bold;
        left: 0;
        position: absolute;
        font-family: lumo-icons;
        content: var(--lumo-icons-angle-right);
      }
    }
  }

  img,
  iframe {
    width: 100%;
    height: 100%;
  }
}

.hide {
  display: none;
}

.no-scroll {
  /* disable scrollbar on both x and y axis */
  overflow: hidden;

  /* disable scrollbar on x-axis only */
  overflow-x: hidden;

  /* disable scrollbar on y-axis only */
  overflow-y: hidden;

  /* disable scroll */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: all !important;
}
