@import "./mixins";

:host([theme~="layout-margin"]) {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

:host([theme~="justify"]) ::slotted(*) {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}

:host([theme~="wide"]) {
  // margin-left: -50px;
  // margin-right: -50px;
}

@include respond-below(large) {
  :host([theme~="wide"]) {
    margin-left: 35px !important;
    margin-right: 0 !important;
  }

  :host([theme~="spacing-xl"]) ::slotted(*) {
    margin-left: var(--lumo-space-m) !important;
  }
}
