@import "./mixins";

:host {
  --lumo-input-size: var(--lumo-size-l) !important;
  --lumo-input-size-xl: 60px !important;
  --lumo-input-size-l: 50px !important;
  --lumo-input-size-s: 38px !important;
  --lumo-input-size-xs: 32px !important;
}

:host([theme="search-input"]) {
  width: 100%;
}

:host([theme="search-input"]):hover {
  background: none;
  background-color: transparent;
}

:host([theme="search-input"]) [part="input-field"] {
  border: 0;
  border-bottom: 1px solid var(--lumo-primary-color);
  box-shadow: none;
  color: #1a1a1a;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  padding: 5px;
  padding-left: 36px;
  background: transparent;
  border-radius: 0;
}

:host([theme="search-input"]) [part="input-field"]::after {
  display: none;
}

:host([theme="search-input"]) [part="value"]::-webkit-input-placeholder {
  color: #1a1a1a;
  transition: none;
  opacity: 1;
}

:host([theme="search-input"]) [part="value"]:-ms-input-placeholder {
  color: #1a1a1a;
  transition: none;
  opacity: 1;
}

:host([theme="search-input"]) [part="value"]::-moz-placeholder {
  color: #1a1a1a;
  transition: none;
  opacity: 1;
}

:host([theme="search-input"]) [part="value"]::placeholder {
  color: #1a1a1a;
  transition: none;
  opacity: 1;
}

:host([theme="optin-email"]) {
  display: flex;
  flex: 1 auto;
  margin-right: -20px;

  [part="input-field"] {
    background: #ffffff;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    border-radius: 4px;
    height: var(--lumo-input-size-l);
  }

  [part="value"]::placeholder {
    color: #1a1a1a;
    transition: none;
    opacity: 1;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 1.2285px;
  }

  [part="value"]::-webkit-input-placeholder {
    color: #1a1a1a;
    transition: none;
    opacity: 1;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 1.2285px;
  }

  [part="value"]:-ms-input-placeholder {
    color: #1a1a1a;
    transition: none;
    opacity: 1;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 1.2285px;
  }

  [part="value"]::-moz-placeholder {
    color: #1a1a1a;
    transition: none;
    opacity: 1;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 1.2285px;
  }

  @include respond-below(small) {
    margin-right: 0;
  }
}
