@import "./mixins";

:host([theme="video-slider"]) {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  border: 0;
  box-shadow: none !important;
  margin-top: 170px;
}

@include respond-below(small) {
  :host([theme="video-slider"]) {
    margin-top: 70px;
  }

  [part="forward-button"],
  [part="back-button"] {
    font-size: var(--lumo-icon-size-l) !important;
  }
}
