@import "./mixins";

:host([theme="search"]) {
  top: 70px;
  pointer-events: auto !important;

  [part="backdrop"] {
    background-color: #fff !important;
    top: 70px;
    pointer-events: auto !important;
  }
}

:host([theme="trainings"]) [part="content"],
:host([theme="search"]) [part="content"] {
  overflow: hidden;
  height: 100%;
}

:host([theme="trainings"]) {
  top: 100px !important;
}

[part="backdrop"] {
  background-color: var(--lumo-shade-50pct) !important;
}

[part="overlay"] {
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

:host([theme="search"]) [part="overlay"] {
  box-shadow: none;
}

:host([theme="search"]) [part="overlay"],
:host([theme="trainings"]) [part="overlay"] {
  position: absolute;
  top: 10%;
}

:host([theme="video"]) {
  [part="content"] {
    padding: 0;
    padding-top: 8px;
  }
}

@include respond-below(small) {
  :host([theme="search"][opened]) {
    top: 0;
  }

  :host([theme="search"][opened]) [part="overlay"] {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  :host([theme="search"][opened]) [part="content"] {
    min-width: 100%;
    padding: 0;
  }
}

@include respond-below(large) {
  :host([theme="search"]) {
    [part="overlay"] {
      top: 0;
      bottom: 10%;
    }
  }
}
