@import "./mixins";

:host([theme="video-slide"]) {
  font-weight: 900 !important;
  font-size: 80px !important;
  color: #1a1a1a !important;
  opacity: 0.37 !important;
  text-transform: uppercase;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
}

:host([theme="video-slide"][selected]) {
  opacity: 1 !important;

  &::after {
    display: none;
  }

  &::before {
    display: none;
  }
}

:host([focus-ring]) {
  box-shadow: none !important;
  border-radius: 0;
}

@include respond-below(small) {
  :host([theme="video-slide"]) {
    font-size: 35px !important;
    margin-right: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    slot {
      margin-right: 30px;
      margin-left: 30px;
    }
  }
}

@include respond-between(small, large) {
  :host([theme="video-slide"]) {
    font-size: 40px !important;
  }
}
