:host {
  display: block;
}

:host([hidden]) {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: 100%;

  &::-moz-focus-outer {
    border: 0;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
  }

  &::-moz-range-track {
    width: 100%;
  }

  &::-ms-track {
    color: transparent;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: none;
  }

  &::-ms-thumb {
    appearance: none;
    border: none;
  }
}
