// Unicode character map for the icons
$icons: (
<<<<<<< HEAD
  --lumo-icons-quote-right: '\\275e'
=======
  quote-right: '\\275e'
>>>>>>> 8237a81ba04ec5b6a85e9c5600c5fe4e6d2e2ac5
);

// For adding font icons to elements using CSS pseudo-elements
// Based on: http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin mixin-icon($icon: false, $pseudo: before, $styles: true) {

  // Either a :before or :after pseudo-element, or both, defaulting to :before
  &:#{$pseudo} {
    @if $icon {
      // A particular icon has been specified
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
<<<<<<< HEAD
      font-family: lumo-icons, serif;
      font-size: var(--lumo-font-size-xxxl);
      font-style: normal;
      color: var(--lumo-primary-color);
    }

    @content
  }
}
=======
      font-family: 'lumo-icons';
      color: var(--lumo-primary-color);
      font-size: var(--lumo-font-size-xxl);
      right: 1rem;
      line-height: 1;
      position: absolute;
      font-style: normal
    }
  }
}
>>>>>>> 8237a81ba04ec5b6a85e9c5600c5fe4e6d2e2ac5
